@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Heebo&family=Pangolin&family=Staatliches&display=swap');

.section-cards {
  background-color: #A6A6A6;
  padding: 1em;
  
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
h1{
  color: #D9B18F;
font-family:Heebo, Bricolage Grotesque;
}
h2{
  color: #E6D5CE;
  font-family: 'Pangolin', cursive;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

p {
font-family: 'Heebo', sans-serif;
font-family: 'Pangolin', cursive;
font-family: 'Staatliches', cursive; 
}

