.main-footer {
    height: 200px;
    background-color: #2A3340;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    &__paragraph {
      margin-bottom: 20px;
      
    }
    @media (max-width: 1235px) {
      & {
        height: 200px;
        padding-top: 15px;
      }
      @media (max-width: 912px) {
        & {
          height: 200px;
          font-size: 14px;
          padding-top: 20px;
        }
      }
      @media (max-width: 600px) {
        & {
          height: 250px;
        }
      }
  
      @media (max-width: 530px) {
        & {
          font-size: 13px;
        }
      }
      @media (max-width: 392px) {
        & {
          height: 200px;
          font-size: 12px;
        }
      }
    }
  }
  